<% @id_num = 0 %> <!--記事一覧表示処理 -->
<!--タイトル表示-->
<% for id_num in 0..@result_blog_index_id.size-1 do  %>

<%= link_to blog_index_path(@result_blog_index_title[id_num].id), class: "showlink" do%>

<!--div class="showlink"-->
<h1>
<div class="title">
	<%= @result_blog_index_title[id_num].title%>
</div></h1>

<!--本文表示  blog_indexのIDと一致するindex_idを持つimgaeを一つだけ表示する。-->
<% for image_num in 0..@result_blog_images.size-1 do  %>
<% if @result_blog_images[image_num].blog_index_id == @result_blog_index_title[id_num].id %>
<div class="sammary_image">
	<%= image_tag @result_blog_images[image_num].image, class: "thumbnail-img" ,align: "left" %>
</div>
<% break %>
<% end %>
<% end %>

<!--本文表示  blog_indexのIDと一致するindex_idを持つtextを一つだけ表示する。-->
<% for text_num in 0..@result_blog_texts.size-1 do  %>
<% if @result_blog_texts[text_num].blog_index_id == @result_blog_index_title[id_num].id %>
<div class="sammary_text">
	<%= br(tag_erase(@result_blog_texts[text_num].text).html_safe) %>
</div>
<% break %>
<% end %>
<% end %>

<!-- ログイン中であれば削除ボタン、編集ボタンを表示する。 -->
<% if signed_in? %>
<%= link_to '編集', edit_blog_index_path(@result_blog_index_title[id_num].id) %> |
<%= link_to "削除", blog_index_path(@result_blog_index_title[id_num].id), :method => :delete %>
<% end %>

<% end %>
<% @id_num = @id_num +1  %>
<% end %>

<!-- ログイン中であれば削除ボタン、編集ボタンを表示する。 -->
<% if signed_in? %>
<%= link_to '新規作成', new_blog_index_path %>
<% end %>

<!--記事一覧表示処理ここまで -->