

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <font face="メイリオ"/>
    <dl id="acMenu">
      <%#記事一覧表示処理 %>
      <% @blog_id_array.each do |blog_id| %>
      <dt>
        <hr>
        <div id="title">
          <%= eval("@blog_id_#{blog_id}")["title"] %>
        </div>
        <%#@blog_id_XXには以下が入っている。XXにはblog_idが入っている
        #{"max_content_num"個記事と写真の総数(数字) "min_img_num"=最初の画像の記事内ID(数字),
        #"id"=>記事ID(数字), "created_at"=>日付, "updated_at"=>日付, "title"=>"タイトル(文字列)",
        #記事内ID=>コンテンツ(画像へのパスか、記事のそのもの)※記事内ID分繰り返し,
        #"blog_txt_all"=>indexに表示させる記事 記事最初の100文字(文字列),
        #"min_img_path"=>"indexに表示させる画像のパス"}%>
        <dd>
          <div id="sammay">
            <%= link_to blog_index_path(blog_id) do%>
            <%= image_tag eval("@blog_id_#{blog_id}['min_img_path']"), class: "middle-img",align:"right"%>
            <%= eval("@blog_id_#{blog_id}['blog_txt_all']") %>
            <% end %>
          </div>
        </dd>
      </dt>
      <br clear="left">
      <% end %>
    </dl>
    <%#記事一覧表示処理ここまで %>
    <%= link_to '新規投稿', new_blog_index_path, :id =>'new_blog_index' %>
    <br>
  </tbody>
</table>
